<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>


<% @restaurants.each do |restaurant| %>
  <div class="resto">
    <div class="resto-name">
      <h2 class="resto-title"><%= link_to restaurant.name, restaurant %></h2>
      <h3 class="resto-category"><%= restaurant.category %></h3>
      <p class="resto-address"><%= restaurant.address %></p>
    </div>
    <div class="resto-edit">
    <p>
      <!--<%= link_to edit_restaurant_path(restaurant) do %>
        <i class="fa fa-pencil resto-icons" aria-hidden="true"></i>
      <%end%> -->
      <% link_to restaurant, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="fa fa-trash resto-icons" aria-hidden="true"></i>
      <%end%>
      <%= link_to 'Add Review', new_restaurant_review_path(restaurant), class: 'btn' %></p>
    </div>
  </div>
<% end %>
